beautifulsoup4
feedparser
huggingface_hub
langchain
langchain-community
langchain-huggingface
langchain-nvidia-ai-endpoints
langchain-ollama
langgraph
pillow
pandas
psycopg[binary]
python-dotenv
requests
streamlit
