langchain
langchain-community
langchain-huggingface
huggingface_hub

streamlit
python-dotenv
langgraph
dotenv
langchain_ollama
langgraph
langchain
langchain-community
langchain-ollama
feedparser
requests
python-dotenv
beautifulsoup4
huggingface_hub
pillow
streamlit
